@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

*::-webkit-scrollbar {
    width: 4px;
    background-color: #202124;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 217, 0, 0.656);
}

* {
    font-family: host grotesk;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #202124;
}

.none {
    display: none;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.184);
    background-color: #202124;
    position: sticky;
    z-index: 8;
    top: 0;
}

.navbar h1 {
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Host Grotesk', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.navbar h1 img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#add-btn {
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #fbbc04;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: all 0.2s;
}

#add-btn:active {
    background-color: rgb(236, 201, 2);
}

#add-btn img {
    width: 25px;
    height: 25px;
}

.note-cont {
    height: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.each-card {
    position: relative;
    width: 70%;
    height: 250px;
    min-width: 200px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.note {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: 500;
    resize: none;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all 0.3s;
    cursor: default;
    background: #202124;
    border: 1px solid #5f6368;
    box-shadow: 0 1px 9px black;
    color: lavender;
}

.main {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Host Grotesk', sans-serif;
    font-weight: 500;
    resize: none;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all 0.3s;
    cursor: default;
    background: #202124;
    border: 1px solid #5f6368;
    color: #e3e3e3;
    position: relative;
    overflow-y: auto;

}

.note:focus {
    cursor: text;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.actions img {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: default;
}

.actions img:hover {
    background-color: #41331c;
}

.actions img:active {
    background-color: #564426;
}

::-moz-selection {
    background-color: gold;
    color: black;
}

::selection {
    background-color: gold;
    color: black;
}

div:where(.swal2-container) button:where(.swal2-styled):not([disabled]) {
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: 500;
    border: none;
    outline: none;
}

div:where(.swal2-container).swal2-center>.swal2-popup {
    border-radius: 12px;
}

#watermark h2 {
    color: lavender;
    font-weight: 500;
    font-size: 25px;
    opacity: 0.5;
}

#watermark {
    display: none;
    text-align: center;
    margin-top: 80px;
}

.swal2-confirm,
.swal2-cancel {
    outline: none;
    box-shadow: none;
}


@media screen and (max-width:600px) {

    .navbar {
        padding: 20px;
    }

    .each-card {
        width: 100%;
    }

    .note-cont {
        padding: 40px 15px;
    }

    .note,
    .main {
        font-size: 15px;
    }

    .navbar h1 img {
        width: 40px;
        height: 40px;
    }

    #add-btn {
        padding: 10px 18px;
    }

    #watermark {
        margin-top: 50%;
    }
}

@media screen and (min-width:1700px) {

    .navbar {
        padding: 10px 15%;
    }

    .note-cont {
        width: 60%;
        margin: auto;
    }
}